hr{
	border: 1px solid black;
	color: black;
}	

.containerBalance{
	
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
}

.elementBalance{
	
	text-align: center;
	/*border: 1px solid black;*/
	width: 25%;
}

.containerAddBill{
	
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; 
}

.elementAddBill{
	
	text-align: center;
	/*border: 1px solid black;*/
	width: 25%;
}

/*Bill*/

.containerBill{
	
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
}

.elementBill{
	
	text-align: center;
	border: 1px solid black;*/
	width: 25%;
}

.billDate{
		
	height: 30px;
  	line-height: 30px;
  	text-align: left;
}

.billDescription{
	
	height: 30px;
  	line-height: 30px;
  	text-align: left;
}

.billTags{
		
	height: 30px;
  	line-height: 30px;
  	text-align: left;
}

.billValue_Positive{
	
	font-size: 25px;	
	height: 30px;
  	line-height: 30px;
	background-color:green;
	text-align: center
}

.billValue_Negative{
	
	font-size: 25px;
	height: 30px;
  	line-height: 30px;	
	background-color:red;
	text-align: center
}

.billRemove{
	
	text-align: center
}

.account_Positive{

	font-size: 25px;	
	height: 30px;
  	line-height: 30px;
	background-color:green;
	text-align: center
}

.account_Negative{
	
	font-size: 25px;
	height: 30px;
  	line-height: 30px;	
	background-color:red;
	text-align: center
}

#addBillDate{
	
	text-align: center;
	width: 200px;
	height: 200px;
}

#addBillDescription{
	
	width: 300px;	
}

#addBillValue{
	
	width: 150px;	
}

#background{
	background-color: #17191c;
}

hr{
	border: 0; border-bottom: 3px dashed #ccc; background: white; background-color: #212529;; width: 60%
}