.title {

	 text-align:center;
	 color: white;
 }

.accountingValue{
	text-align: center;
}

.value {
	font-size: 30px;
}

.input {

	background-color: #31343b;
	color: white;
	border: none;
	transition: none;
	font-size: 20px;
}

.dropdown-item:hover{
	background-color: #2a293f;
	background-image: none;
}

.dropdown-menu{
	background-color: #4f4f67;
	color: white;
}