
.accountingValue{
	text-align: center;
}

.dropdown-item:hover{
	background-color: #30353f;
	background-image: none;
}

.dropdown-menu{
	background-color: #565e67;
	color: white;
}

.nav-link.btn.btn-dark.hvr-shutter-out-horizontal{
  background-color: #17191C;
}