.positive{

  background-color: green;
}

.negative{

  background-color: red;
}

.background{
  background-color: #17191c;
}

.dashed_hr{
  border: 0; border-bottom: 3px dashed #ccc; background: white; background-color: #212529; width: 60%
}