/*
This is a color scheme CSS file.
It should only contain color related attributes like 'color' or 'background-color'
You should also name the classes like the classes in the other files
(so nothing except the CSS file has to be exchanged, when changing color scheme)

AUTHOR: Jan Schneider
 */

/* Define background color and color (text-color) with color picker on the left */

.positive { background-color: #0c9745; color: white }

.negative { background-color: #df4034; color : white }

.background { background-color: #17191c; color : white}

.input { background-color: #2f323a; color : white }

button { background-color: #2f323a; color : white }

.table { background-color: #212529; color : white }

.footer { background-color: #17191c; color : white }

.header { background-color: #2f323a; color : white }

.header a {color : white}

.dropdown-menu{ background-color: #40404d; color : white }

/* Applies if hovering over an element on drop down menu */
.dropdown-item:hover { background-color: #23232c; color : white }

/* Overrides standard color for 'logout' button in the header */
.hvr-shutter-out-horizontal{ background-color: #282633; color : white }

/* Overrides hover effect color */
.hvr-reveal:before { border-color: #00c5ff; }
.hvr-underline-from-left:before , .hvr-shutter-out-horizontal:before , .hvr-underline-from-center:before { background-color: #00c5ff; }